html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-family: ;*/
}

body {
    width: 100%;
    display: flex;
    background-color: #999999;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    background-color: #BBBBBB;
}

.logo {
    padding: 10px;
    
}

.logo[id="logo1"] {
    float: left;
    margin-left: 10px;
}

.logo[id="logo2"] {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


main {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
}

section[id="backgroundImg"] {
    background-image: url(./imagens/bg-form.jpg);
    /*background-color: teal;*/
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    align-self: center;
    width: 80%;
    height: 100%;
    position: relative;
}

div[id="underlayer01"] {
    float: right;
}

form {
    border-radius: 10px;
    margin: 15px 30px;
    background-color: rgba(211, 211, 211,0.7);
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form p {
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 20px;
    margin: -20px;
    margin-bottom: 25px ;
}

form input {
    height: 40px;
    width: 92.55%;
    align-self: center;
    padding-left: 10px;
}

form input[id="submit"]{
    color: white;
    background-color: #003851;
    width: 70%;
    margin-bottom: 30px;
}

.calltoaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    background-color: #29526D;
    color: white;
}

.calltoaction p:first-child {
    margin-top: 40px;
}

.calltoaction p:last-child {
    margin-top: -10px;
    margin-bottom: 40px;
}

.seta {
    width: 45px;
    height: 8%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    margin: 0 10%;
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px auto);
}

.content {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #32678a;
}

.content > p {
    padding: 0 15px;
    text-align: justify;
}

.underlayerimg {
    width: 100%;
    background-color: rosybrown;
    display: flex;
    align-items: center;
}

.contentimg {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.clear {
    clear: both;
    visibility: hidden;
}

footer {
    border-radius: 100px 100px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 60px;
    background-color: #BBBBBB;
}

footer > img {
    width: 140px;
    height: 40px;
    position: absolute;
    top: 0.1px;
    left: 50%;
    transform: translate(-50%,0%);
}

footer > p {
    visibility: hidden;
    text-align: center;
}

footer:hover {
    animation: animacao_1 1s forwards;
}

@media screen and (max-width: 640px) {
    header > img {
        width: 150px;
        height: 50px;
    }
    
    section[id="backgroundImg"] {
        margin: 0;
        width: 100%;
        height: 500px;
    }

    form {
        margin: 0;
        position: absolute;
        top: 0%;
        left: 15%;   
        transform: scale(0.8)
    }
    
    .calltoaction {
        width: 100%;
        margin:0;
    }

    .seta {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-50%) ;
        width: 30px;
        height: 30px;
    }
    .container {
        margin: 0;
        grid-template-columns: 1fr;
    }

    .content[id="content01"] {
        order: 1;
    }
    .content[id="content02"] {
        order: 3;
    }
    .content[id="content03"] {
        order: 5;
    }
    .content[id="content04"] {
        order: 7;
    }
    .underlayerimg[id="underlayerimg01"] {
        order: 2;
    }
    .underlayerimg[id="underlayerimg02"] {
        order: 4;   
    }
    .underlayerimg[id="underlayerimg03"] {
        order: 6;
    }
    .underlayerimg[id="underlayerimg04"] {
        order: 8;
    }
}

@keyframes animacao_1 {
    from {
    }

    to {
       height: 25%;
    }
}